{% load cms_core_extras %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>{{ user.fullname }} Portfolio</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	{% load static %}
 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="{% static 'cms_core/css/base.css' %}">  
   <link rel="stylesheet" href="{% static 'cms_core/css/main.css' %}">
   <link rel="stylesheet" href="{% static 'cms_core/css/vendor.css' %}">     

   <!-- script
   ================================================== -->   
	<script src="{% static 'cms_core/js/modernizr.js' %}"></script>
	<script src="{% static 'cms_core/js/pace.min.js' %}"></script>

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="{% static 'cms_core/favicon.png' %}">

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header>   	
   	<div class="row">

   		<div class="top-bar">
   			<a class="menu-toggle" href="#"><span>Menu</span></a>

	   		<div class="logo">
		         <a href="index.html"><span>MENU</span></a>
		      </div>		      

		   	<nav id="main-nav-wrap">
					<ul class="main-navigation">
						{% for section in sections %}
							{% if section.type == 'h' %}
								<li><a class="smoothscroll"  href="#{{section.header|cut:" "}}{{forloop.counter}}" title="">{{section.header}}</a></li>
							{% else %}	
								<li><a class="smoothscroll"  href="#{{section.header|cut:" "}}{{forloop.counter}}" title="">{{section.header}}</a></li>	
							{% endif %}
						{% endfor %}
					</ul>
				</nav>    		
   		</div> <!-- /top-bar --> 
   		
   	</div> <!-- /row --> 		
   </header> <!-- /header -->

   {% for section in sections %}
   <!-- intro section
	================================================== -->
   {% if section.type == 'h' %}
	<section id="intro">   

		<div id="{{section.header|cut:" "}}{{forloop.counter}}" class="intro-overlay" style="background-image: url('{{ section.image_id.image.url }}'); background-size: cover; background-repeat: no-repeat;"></div>	

		<div class="intro-content">
			<div class="row">
				<div class="col-twelve">

					<h5>{{ section.header }}</h5>
					<h1>I'm {{ user.fullname }}</h1>

					<p class="intro-position">
						<span>{{ user.job }}</span>
					</p>

					<p style="max-height: 40vh; height: auto; overflow-y: scroll; color: white;">{{ section.description }}</p>

				</div>  
				
			</div>   		 		
		</div> <!-- /intro-content --> 

		{% if socials|get_item:section.section_id %}
			<ul class="intro-social">
				{% for social in socials|get_item:section.section_id %}
					<li>
						<a href="{{ social.link }}">
							<img src="{{social.image_id.image.url}}" alt="{{social.image_id.image}}">
						</a>
					</li>
				{% endfor %}
			</ul> <!-- /intro-social -->      	
		{% endif %}
	</section> <!-- /intro -->
	{% endif %}

	<!-- about section
   ================================================== -->
   {% if section.type == 'a' %}
   <div id="{{section.header|cut:" "}}{{forloop.counter}}"></div>
   <section id="about" style="background-image: url('{{ section.image_id.image.url }}'); background-size: cover; background-repeat: no-repeat;">  

   	<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>{{ section.header }}</h5>
   			<h1>Let me introduce myself.</h1>

   			<div class="intro-info">

   				<img src="images/profile-pic.jpg" alt="Profile Picture"> <!-- TODO: Add image -->

   				<p class="lead">{{ section.description }}</p>
   			</div>   			

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row about-content">

   		<div class="col-six tab-full">

   			<h3>Profile</h3>
   			<ul class="info-list">
   				<li>
   					<strong>Fullname:</strong>
   					<span>{{ user.fullname }}</span>
   				</li>
   				<li>
   					<strong>Birth Date:</strong>
   					<span>{{ user.birth_date }}</span>
   				</li>
   				<li>
   					<strong>Job:</strong>
   					<span>{{ user.job }}</span>
   				</li>
   				<li>
   					<strong>Website:</strong>
   					<span>{{ user.website }}</span>
   				</li>
   				<li>
   					<strong>Email:</strong>
   					<span>{{ user.email }}</span>
   				</li>

   			</ul> <!-- /info-list -->

   		</div>

   		<div class="col-six tab-full">

   			<h3>Skills</h3>
				{% if skills|get_item:section.section_id %}
					<ul class="skill-bars">
						{% for skill in skills|get_item:section.section_id %}
							<li>
								<div class="progress percent{{ skill.value|floatformat:"0" }}"><span>{{ skill.value|floatformat:"0" }}%</span></div>
								<strong>{{ skill }}</strong>
							</li>
						{% endfor %}
					</ul> <!-- /skill-bars -->		
				{% endif %}
   		</div>

   	</div>

   	<div class="row button-section">
   		<div class="col-twelve">
   			<a href="#contact" title="Hire Me" class="button stroke smoothscroll">Hire Me</a>
   			<a href="#" title="Download CV" class="button button-primary">Download CV</a>
   		</div>   		
   	</div>

   </section> <!-- /process-->    
   {% endif %}

   {% if section.type == 'r' %}
   <!-- resume Section
   ================================================== -->
   <div id="{{section.header|cut:" "}}{{forloop.counter}}"></div>
	<section id="resume" class="grey-section" style="background-image: url('{{ section.image_id.image.url }}'); background-size: cover; background-repeat: no-repeat;">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>{{ section.header }}</h5>

   			<p class="lead">{{ section.description }}</p>

   		</div>   		
   	</div> <!-- /section-intro--> 

	{% if histories|get_item:section.section_id|get_item:"work"|length > 0 %}
   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Work Experience</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">
				{% for work_history in histories|get_item:section.section_id|get_item:"work" %}
   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>{{ work_history.title }}</h3>
	   					<p>{{ work_history.date_started|date:"M, Y" }} - {{ work_history.date_ended|date:"M, Y"|default:"Present" }}</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>{{ work_history.subtitle }}</h4>
	   					<p>{{ work_history.description }}</p>
	   				</div>

	   			</div> <!-- /timeline-block -->
				{% endfor %}
   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
   	{% endif %}

	{% if histories|get_item:section.section_id|get_item:"education"|length > 0 %}
   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Education</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">
				{% for edu_history in histories|get_item:section.section_id|get_item:"education" %}
   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
						<h3>{{ edu_history.title }}</h3>
						<p>{{ edu_history.date_started|date:"M, Y" }} - {{ edu_history.date_ended|date:"M, Y"|default:"Present" }}</p>
					</div>

					<div class="timeline-content">
						<h4>{{ edu_history.subtitle }}</h4>
						<p>{{ edu_history.description }}</p>
					</div>

	   			</div> <!-- /timeline-block -->
				{% endfor %}
   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
	{% endif %}
	</section> <!-- /features -->
	{% endif %}
	<!-- resume Section
   ================================================== -->

	{% if section.type == 'p' %}
	<!-- Portfolio Section
   ================================================== -->
   <div id="{{section.header|cut:" "}}{{forloop.counter}}"></div>
	<section id="portfolio" style="background-image: url('{{ section.image_id.image.url }}'); background-size: cover; background-repeat: no-repeat;">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>{{ section.header }}</h5>
   			<h1>{{ section.description }}</h1>

   		</div>   		
   	</div> <!-- /section-intro--> 

   	<div class="row portfolio-content">

   		<div class="col-twelve">

   			<!-- portfolio-wrapper -->
	         <div id="folio-wrapper" class="block-1-2 block-mob-full stack">

	         	<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="images/portfolio/liberty.jpg" alt="Liberty">
	                  <a href="#modal-01" class="overlay">	                  	           
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
		     					       <h3 class="folio-title">Liberty</h3>	     					    
		     					    	 <span class="folio-types">
		     					       	  Graphic Design
		     					       </span>
		     					   </div>	                      	
	                     </div>                    
	                  </a>
	               </div>	               
	        		</div> <!-- /folio-item -->

	        		<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="images/portfolio/shutterbug.jpg" alt="Shutterbug">
	               	<a href="#modal-02" class="overlay">              		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Shutterbug</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Web Design
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="images/portfolio/clouds.jpg"alt="Clouds">
	                  <a href="#modal-03" class="overlay">             		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Clouds</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Web Design
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="images/portfolio/beetle.jpg" alt="Beetle">
	                  <a href="#modal-04" class="overlay">                  	                 
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Beetle</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Branding
		     					      </span>		     		
		     					   </div>  	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->     

	        		<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="images/portfolio/lighthouse.jpg" alt="Lighthouse">
	                  <a href="#modal-05" class="overlay">             		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Lighthouse</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Web Development
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="images/portfolio/salad.jpg" alt="Salad">
	                  <a href="#modal-06" class="overlay">
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Salad</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Branding
		     					      </span>		     		
		     					   </div>	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->   

	            <!-- modal popups - begin
	            ============================================================= -->
	            <div id="modal-01" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="images/portfolio/modals/m-liberty.jpg" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Liberty</h4>		      
					      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

					      <div class="categories">Web Development</div>			               
					   </div>

			         <div class="link-box">
			            <a href="http://www.behance.net">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-01 -->

				   <div id="modal-02" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="images/portfolio/modals/m-shutterbug.jpg" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Shutterbug</h4>		      
					      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

					      <div class="categories">Web Design</div>			               
					   </div>

			         <div class="link-box">
			            <a href="http://www.behance.net">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-02 -->

				   <div id="modal-03" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="images/portfolio/modals/m-clouds.jpg" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Clouds</h4>		      
					      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

					      <div class="categories">Web Design</div>			               
					   </div>

			         <div class="link-box">
			            <a href="http://www.behance.net">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-03 -->

				   <div id="modal-04" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="images/portfolio/modals/m-beetle.jpg" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Beetle</h4>		      
					      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

					      <div class="categories">Branding</div>			               
					   </div>

			         <div class="link-box">
			            <a href="http://www.behance.net">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-04 -->

				   <div id="modal-05" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="images/portfolio/modals/m-lighthouse.jpg" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Lighthouse</h4>		      
					      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

					      <div class="categories">Web Development</div>			               
					   </div>

			         <div class="link-box">
			            <a href="http://www.behance.net">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-05 -->

				   <div id="modal-06" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="images/portfolio/modals/m-salad.jpg" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Salad</h4>		      
					      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

					      <div class="categories">Branding</div>			               
					   </div>

			         <div class="link-box">
			            <a href="http://www.behance.net">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-06 -->


				   <!-- modal popups - end
	            ============================================================= -->

	         </div> <!-- /portfolio-wrapper --> 

   		</div>  <!-- /twelve -->   

   	</div> <!-- /portfolio-content --> 
		
	</section> <!-- /portfolio --> 
	{% endif %}

   {% if section.type == 's' %}
	<!-- services Section
   ================================================== -->
   <div id="{{section.header|cut:" "}}{{forloop.counter}}"></div>
	<section id="services" style="background-image: url('{{ section.image_id.image.url }}'); background-size: cover; background-repeat: no-repeat;">
		<div class="overlay"></div>
		<div class="row section-intro">
			<div class="col-twelve">
				<h5>{{ section.header }}</h5>
				<h1>What Can I Do For You?</h1>
				<p class="lead">{{ section.description }}</p>
			</div>   		
   		</div> <!-- /section-intro -->

	{% if services|get_item:section.section_id %}
		<div class="row services-content">
			<div id="owl-slider" class="owl-carousel services-list">
					{% for service in services|get_item:section.section_id %}
						<div class="service">	
							<span class="icon"><i class="icon-earth"></i></span> <!-- TODO: Add image -->           

							<div class="service-content">	
								<h3>{{ service.title }}</h3>
								<p class="desc">{{ service.description }}</p>
							</div> 	         	 
						</div> <!-- /service -->
					{% endfor %}
			</div> <!-- /services-list -->   		
		</div> <!-- /services-content -->
	{% endif %}
		
	</section> <!-- /services -->	
	{% endif %}

	{% if section.type == 'c' %}
	<!-- stats Section
   ================================================== -->
   {% if statistics|get_item:section.section_id %}
		<section id="stats" class="count-up">
			<div class="row">
				<div class="col-twelve">
					<div class="block-1-6 block-s-1-3 block-tab-1-2 block-mob-full stats-list">
						{% for statistic in statistics|get_item:section.section_id %}
							<div class="bgrid stat">
								<div class="icon-part">
									<i class="icon-pencil-ruler"></i> <!-- TODO: Add image -->
								</div>

								<h3 class="stat-count">{{ statistic.value }}</h3>
								<h5 class="stat-title">{{ statistic.label }}</h5>
							</div> <!-- /stat -->					
						{% endfor %}
					</div> <!-- /stats-list -->
				</div> <!-- /twelve -->
			</div> <!-- /row -->
		</section> <!-- /stats -->
	{% endif %}

	
   <!-- contact
   ================================================== -->
   <div id="{{section.header|cut:" "}}{{forloop.counter}}"></div>
	<section id="contact" style="background-image: url('{{ section.image_id.image.url }}'); background-size: cover; background-repeat: no-repeat;">

		<div class="row section-intro">
   			<div class="col-twelve">

   				<h5>{{ section.header }}</h5>

   				<p class="lead">{{ section.description }}</p>

			</div>
		</div> <!-- /section-intro -->
	{% if message %}
	   <!-- contact-success -->
		<div class="row contact-form" style="color: white;">
			<div class="col-twelve">
		  		<b><i class="fa fa-check"></i> {{ message }}<br></b>
			</div>
		</div>
	{% endif %}
   	<div class="row contact-form">

   		<div class="col-twelve">
			<form method="post">
				{% csrf_token %}
    			{{ form }}
				<button class="submitform">Submit</button>
			</form>

         </div> <!-- /col-twelve -->
   		
   	</div> <!-- /contact-form -->

   	<div class="row contact-info">
		{% if user.address %}
   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-pin"></i>
   			</div>

   			<h5>Where to find me</h5>

   			<p>
			{{ user.address }}
            </p>

   		</div>
		{% endif %}
		{% if user.email %}
   		<div class="col-four tab-full collapse">

   			<div class="icon">
   				<i class="icon-mail"></i>
   			</div>

   			<h5>Email Me At</h5>

   			<p>{{ user.email }}</p>

   		</div>
		{% endif %}
		{% if user.phone_number %}
   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-phone"></i>
   			</div>

   			<h5>Call Me At</h5>

   			<p>
				{% if user.phone_number|length == 11 %}
					(+{{ user.phone_number|slice:"2" }}) {{ user.phone_number|slice:"2:" }}
				{% else %}
					{{ user.phone_number }}
				{% endif %}
			</p>

   		</div>
		{% endif %}
   		
   	</div> <!-- /contact-info -->
		
	</section> <!-- /contact -->
	{% endif %}

	{% endfor %}
   <!-- footer
   ================================================== -->

   <footer>
     	<div class="row">

     		<div class="col-six tab-full pull-right social">
	      		
	      </div>

      	<div class="col-six tab-full">
	      	<div class="copyright">
		        	<span>© Copyright Kards 2016.</span> 
		        	<span>Design by <a href="http://www.styleshout.com/">styleshout</a></span>	         	
		         </div>		                  
	      	</div>

	      	<div id="go-top">
		         <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
		      </div>

      	</div> <!-- /row -->     	
   </footer>  

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src="{% static 'cms_core/js/jquery-2.1.3.min.js' %}"></script>
   <script src="{% static 'cms_core/js/plugins.js' %}"></script>
   <script src="{% static 'cms_core/js/main.js' %}"></script>

</body>

</html>